.search-form {
    padding-top: 100px;
}

#hai {
    text-align: center;
}

.form-control{
    margin-top: auto;
}

.example-spacer {
    flex: 1 1 auto;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 227%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .panel{
    width: 100%;
    margin-left: 2.5px;

  }

  .centerTable { margin: 0px auto; }
